@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-textlink {
    /* .underline */
    text-decoration-line: underline;
    /* .underline-offset-1 */
    text-underline-offset: 1px;
    /* .transition-all */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    /* .duration-500 */
    transition-duration: 500ms;
    /* .ease-out */
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .custom-textlink-hover {
    /* hover:text-gray-600/50 */
    color: rgb(75 85 99 / 0.5);
  }
  .custom-btn {
    text-transform: none
  }
  .custom-first-letter::first-letter {
    font-size:1.6em;
  }

  .border1999 {
    position:relative;
  }
  .border1999::before, .border1999::after {
    content: '';
    height: 1px;
    position: absolute;
    border-bottom: 1px solid;
    bottom: 0;
  }
  .border1999-1::before {
    width: 10%;
    left: 0;
  }
  .border1999-1::after {
    width: 89.5%;
    right: 0;  
  }
  .border1999-2::before {
    width: 8%;
    left: 0;
  }
  .border1999-2::after {
    width: 91.5%;
    right: 0;  
  }
}