@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 画面遷移時のアニメーション */
  .fadein {
    animation: fadein 3s forwards;
  }
  @keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
  }
  
  .custom-textlink {
    /* .underline */
    text-decoration-line: underline;
    /* .underline-offset-1 */
    text-underline-offset: 1px;
    /* .transition-all */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    /* .duration-500 */
    transition-duration: 500ms;
    /* .ease-out */
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .custom-textlink-hover {
    /* hover:text-gray-600/50 */
    color: rgb(75 85 99 / 0.5);
  }
  .custom-btn {
    text-transform: none
  }
  .custom-first-letter::first-letter {
    font-size:1.6em;
  }

  .border1999 {
    position:relative;
  }
  .border1999::before, .border1999::after {
    content: '';
    height: 1px;
    position: absolute;
    border-bottom: 1px solid;
    bottom: 0;
  }
  .border1999::before {
    width: 10%;
    left: 0;
  }
  .border1999::after {
    width: 89.5%;
    right: 0;  
  }
}

/* たまにカタカタ揺れる */
.shake {
  animation:katakata 5s infinite ease-in-out alternate;
}
@keyframes katakata {
  0% {transform:translate(0, 0) rotate(0deg);}
  21% {transform:translate(0, 0) rotate(0deg);}

  22% {transform:translate(0, 0) rotate(-3deg);}
  23% {transform:translate(0, -1px) rotate(0deg);}
  24% {transform:translate(0, -1px) rotate(3deg);}

  25% {transform:translate(1px, 0) rotate(-2deg);}
  26% {transform:translate(0, 1px) rotate(0deg);}
  27% {transform:translate(0, 0) rotate(3deg);}

  28% {transform:translate(0, 0) rotate(0deg);}
  100% {transform:translate(0, 0) rotate(0deg);}
}